<a href="https://colab.research.google.com/github/Aisha1820/2216126-AI-ML-BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Implement the methods of String with examples.

In [ ]:
my_str="my name is ayesha"
print(my_str)
print(type(my_str))
print(len(my_str)) #Length 
print(my_str.lower()) #Lowercase
print(my_str.upper()) #Uppercase
print(my_str.swapcase()) #Swapcase
print(my_str.title()) #Title
print(my_str.capitalize()) #Capitalize
print(my_str.casefold()) #casefold
print(my_str.center(30)) #center
print(my_str.replace('ayesha','aisha')) #Replace
print(my_str.count('a')) #Number of occurence 
print(my_str.find('i')) #Finding the index 
print(my_str[-1]) #Indexing
print(my_str[1:4]) #Slicing
print(my_str[2:]) 
print(my_str*3) #Replicate
print(my_str+"shahanaz") #Concatenation
print(my_str.strip()) #Strip 
print(my_str.split(",")) #Split
print(my_str.isalnum()) #isalphanumeric 
print(my_str.isalpha()) #isalpha
print(my_str.isdigit()) #isdigit

Q2. Implement the methods of List with examples.

In [ ]:
l1=[1,'angel',5.31,True,False,]
l2=[2,'dad','25i+3j','hi']
print(l1)
print(l2)
print(len(l1)) #length of list1
print(len(l2)) #length of list2
print(type(l1))
print(l1[2])#extracting individual element
print(l1[0:3]) #slicing
print(l1[-2]) #indexing
print(l1*2) #replicating
l2.append(3) #append
print(l2)
l2.extend([1,4,6]) #extend
print(l2)
l1.insert(9,'hello') #insert
print(l1)
print(l2.pop(1)) #pop
print(l1+l2) #concatenation
l1.reverse() #reverse
print(l1)
print(l1.clear()) #clear

Q3. Implement the methods of Tuple with examples.

In [ ]:
tup1=('abc',123,'hello',35.26,98)
tup2=('angle','daddy',58,95.02)
print(type(tup1))
print(len(tup1)) #Length of tuple
print(len(tup2))
print(tup1[2]) #indexing
print(tup2[-3:2]) #slicing
print(tup1+tup2) #concatenation
print(tup2*3) #replicating
print(tup1,tup2) #compares element

Q4. Implement the methods of Dictionary with examples.

In [ ]:
d={1:'apple',50:'marks',8:'dogs'}
print(type(d))
print(len(d)) #length of dictionary
print(d.keys()) #keys
print(d.values()) #values
print(d[8])
d[1]='hello' #updating
print(d)
d['name']='ayesha' #adding elements
d[9]='babies'
print(d)
d1={5:'strawberry',6:'icecream','age':23}
print(d1.items()) #items method
print(d1.get(6)) #get method
d2=d1.copy() #copy method
print(d2)
d1.pop(5) #pop method
print(d1)

Q5. Implement the methods of set with examples.

In [ ]:
s={1,'girl',True,25,False}
print(type(s))
print(len(s)) #length of set
s.add('hell0') #adding new element
print(s)
s.update([10,20,30,40]) #updating multiple element
print(s)
s.remove(10) #remove a element
print(s)
s1={9,5,2} #Union
print(s.union(s1))
print(s.intersection(s1)) #intersection

Q6. Write a python program to convert Decimal to binary, Octal and Hexadecimal with direct method.

In [4]:
d=58
print(bin(d)) #Binary
print(oct(d)) #Octal
print(hex(d)) #Hexadecimal

0b111010
0o72
0x3a

Q7.Implement Arithmetic operators with examples.

In [ ]:
a=20
b=10
a+b #addition
a-b #subtraction
a*b #multiplication
a/b #division
a%b #modulus
a**b #exponent
a//b #floor division

Q8. Implement Assignment operators with examples.

In [ ]:
a=30
b=50
c=0
c=a+b #simple assignment operator
print('c=a+b=',c)
c+=a #add AND
print('c=c+a=',c)
c-=a #subtract AND
print('c=c-a=',c)
c*=a #multiply AND
print('c=c*a=',c)
c/=a #divide AND
print('c=c/a=',c)
c%=a #modulus AND
print('c=c%a=',c)
c=2 
c**=a #exponent AND
print('c=c**a=',c)
c//=a #Floor division
print('c=c//a=',c)

Q9. Implement Comparison operators with examples.

In [ ]:
a=40
b=50
print(a==b) #equal
print(a!=b) #not equal
print(a>b) #greater than
print(a<b) #less than
print(a>=b) #greater than or equal to
print(a<=b) #less than or equal to

Q10. Implement Logical operators with examples.

In [ ]:
a=10
print(a>3 and a<20) #AND
print(a<5 or a<4) #OR
print(not(a>3 and a<20)) #NOT

Q11. Implement Bitwise operators with examples.

In [ ]:
a=40
b=20
print(a&b) #AND
print(a|b) #OR
print(a^b) #XOR
print(~a) #NOT
print(a<<2) #Zero fill left shift
print(a>>2) #Signed right shift

Q12. Implement Membership Operators with examples.

In [ ]:
a=90
b=50
l=[10,20,30,40,50]
print(a in l) #IN
print(b in l)
print(a not in l) #NOT IN
print(b not in l)

Q13. Implement Identity Operators with examples.

In [ ]:
a=80
b=20
print(a is b) #is
print(b is a)
print(a is not b) #is not
print(b is not a)

Q14. Demonstrate Negative indexing for list and apply slicing

In [ ]:
l=[10,20,30,40,50,60]
print('\nOriginal List:\n',l)
print('\nSliced list:')
print(l[::-2])
print(l[::-4])
print(l[:1:-4])

Q15. Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("-----------")
print('Welcome to python training program'[3:10][::-1])

Q16. Write a python code to get desired output.

In [11]:
str="was it a car or a cat I saw"
str="\twas\ti\ttac\ta\tro\trac\ta\ttI\tsaw"
print(str.upper())

	WAS	I	TAC	A	RO	RAC	A	TI	SAW

Q17. You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.The generated word similar to ZOO where Y= 2 * X.

TypeError: ignored