<a href="https://colab.research.google.com/github/Aisha1820/2216126-AI-ML-BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Implement the methods of String with examples.

In [21]:
my_str="my name is ayesha"
print(my_str)
print(type(my_str))
print(len(my_str)) #Length 
print(my_str.lower()) #Lowercase
print(my_str.upper()) #Uppercase
print(my_str.swapcase()) #Swapcase
print(my_str.title()) #Title
print(my_str.capitalize()) #Capitalize
print(my_str.casefold()) #casefold
print(my_str.center(30)) #center
print(my_str.replace('ayesha','aisha')) #Replace
print(my_str.count('a')) #Number of occurence 
print(my_str.find('i')) #Finding the index 
print(my_str[-1]) #Indexing
print(my_str[1:4]) #Slicing
print(my_str[2:]) 
print(my_str*3) #Replicate
print(my_str+"shahanaz") #Concatenation
print(my_str.strip()) #Strip 
print(my_str.split(",")) #Split
print(my_str.isalnum()) #isalphanumeric 
print(my_str.isalpha()) #isalpha
print(my_str.isdigit()) #isdigit

my name is ayesha
<class 'str'>
17
my name is ayesha
MY NAME IS AYESHA
MY NAME IS AYESHA
My Name Is Ayesha
My name is ayesha
my name is ayesha
      my name is ayesha
my name is aisha
3
8
a
y n
 name is ayesha
my name is ayeshamy name is ayeshamy name is ayesha
my name is ayeshashahanaz
my name is ayesha
['my name is ayesha']
False
False
False

Q2. Implement the methods of List with examples.

In [22]:
l1=[1,'angel',5.31,True,False,]
l2=[2,'dad','25i+3j','hi']
print(l1)
print(l2)
print(len(l1)) #length of list1
print(len(l2)) #length of list2
print(type(l1))
print(l1[2])#extracting individual element
print(l1[0:3]) #slicing
print(l1[-2]) #indexing
print(l1*2) #replicating
l2.append(3) #append
print(l2)
l2.extend([1,4,6]) #extend
print(l2)
l1.insert(9,'hello') #insert
print(l1)
print(l2.pop(1)) #pop
print(l1+l2) #concatenation
l1.reverse() #reverse
print(l1)
print(l1.clear()) #clear

[1, 'angel', 5.31, True, False]
[2, 'dad', '25i+3j', 'hi']
5
4
<class 'list'>
5.31
[1, 'angel', 5.31]
True
[1, 'angel', 5.31, True, False, 1, 'angel', 5.31, True, False]
[2, 'dad', '25i+3j', 'hi', 3]
[2, 'dad', '25i+3j', 'hi', 3, 1, 4, 6]
[1, 'angel', 5.31, True, False, 'hello']
dad
[1, 'angel', 5.31, True, False, 'hello', 2, '25i+3j', 'hi', 3, 1, 4, 6]
['hello', False, True, 5.31, 'angel', 1]
None

Q3. Implement the methods of Tuple with examples.

In [23]:
tup1=('abc',123,'hello',35.26,98)
tup2=('angle','daddy',58,95.02)
print(type(tup1))
print(len(tup1)) #Length of tuple
print(len(tup2))
print(tup1[2]) #indexing
print(tup2[-3:2]) #slicing
print(tup1+tup2) #concatenation
print(tup2*3) #replicating
print(tup1,tup2) #compares element

<class 'tuple'>
5
4
hello
('daddy',)
('abc', 123, 'hello', 35.26, 98, 'angle', 'daddy', 58, 95.02)
('angle', 'daddy', 58, 95.02, 'angle', 'daddy', 58, 95.02, 'angle', 'daddy', 58, 95.02)
('abc', 123, 'hello', 35.26, 98) ('angle', 'daddy', 58, 95.02)

Q4. Implement the methods of Dictionary with examples.

In [24]:
d={1:'apple',50:'marks',8:'dogs'}
print(type(d))
print(len(d)) #length of dictionary
print(d.keys()) #keys
print(d.values()) #values
print(d[8])
d[1]='hello' #updating
print(d)
d['name']='ayesha' #adding elements
d[9]='babies'
print(d)
d1={5:'strawberry',6:'icecream','age':23}
print(d1.items()) #items method
print(d1.get(6)) #get method
d2=d1.copy() #copy method
print(d2)
d1.pop(5) #pop method
print(d1)

<class 'dict'>
3
dict_keys([1, 50, 8])
dict_values(['apple', 'marks', 'dogs'])
dogs
{1: 'hello', 50: 'marks', 8: 'dogs'}
{1: 'hello', 50: 'marks', 8: 'dogs', 'name': 'ayesha', 9: 'babies'}
dict_items([(5, 'strawberry'), (6, 'icecream'), ('age', 23)])
icecream
{5: 'strawberry', 6: 'icecream', 'age': 23}
{6: 'icecream', 'age': 23}

Q5. Implement the methods of set with examples.

In [25]:
s={1,'girl',True,25,False}
print(type(s))
print(len(s)) #length of set
s.add('hell0') #adding new element
print(s)
s.update([10,20,30,40]) #updating multiple element
print(s)
s.remove(10) #remove a element
print(s)
s1={9,5,2} #Union
print(s.union(s1))
print(s.intersection(s1)) #intersection

<class 'set'>
4
{False, 1, 'girl', 'hell0', 25}
{False, 1, 'girl', 40, 10, 'hell0', 20, 25, 30}
{False, 1, 'girl', 40, 'hell0', 20, 25, 30}
{False, 1, 2, 'girl', 5, 40, 9, 'hell0', 20, 25, 30}
set()

Q6. Write a python program to convert Decimal to binary, Octal and Hexadecimal with direct method.

In [26]:
d=58
print(bin(d)) #Binary
print(oct(d)) #Octal
print(hex(d)) #Hexadecimal

0b111010
0o72
0x3a

Q7.Implement Arithmetic operators with examples.

In [27]:
#@title Default title text
a=20
b=10
a+b #addition
a-b #subtraction
a*b #multiplication
a/b #division
a%b #modulus
a**b #exponent
a//b #floor division

2

Q8. Implement Assignment operators with examples.

In [28]:
a=30
b=50
c=0
c=a+b #simple assignment operator
print('c=a+b=',c)
c+=a #add AND
print('c=c+a=',c)
c-=a #subtract AND
print('c=c-a=',c)
c*=a #multiply AND
print('c=c*a=',c)
c/=a #divide AND
print('c=c/a=',c)
c%=a #modulus AND
print('c=c%a=',c)
c=2 
c**=a #exponent AND
print('c=c**a=',c)
c//=a #Floor division
print('c=c//a=',c)

c=a+b= 80
c=c+a= 110
c=c-a= 80
c=c*a= 2400
c=c/a= 80.0
c=c%a= 20.0
c=c**a= 1073741824
c=c//a= 35791394

Q9. Implement Comparison operators with examples.

In [29]:
a=40
b=50
print(a==b) #equal
print(a!=b) #not equal
print(a>b) #greater than
print(a<b) #less than
print(a>=b) #greater than or equal to
print(a<=b) #less than or equal to

False
True
False
True
False
True

Q10. Implement Logical operators with examples.

In [60]:
print("logical\n")
a=10
print(a>3 & a<20) #AND
print(a<5 | a<4) #OR
print(not(a>3 & a<20)) #NOT

logical

True
False
False

Q11. Implement Bitwise operators with examples.

In [31]:
a=40
b=20
print(a&b) #AND
print(a|b) #OR
print(a^b) #XOR
print(~a) #NOT
print(a<<2) #Zero fill left shift
print(a>>2) #Signed right shift

0
60
60
-41
160
10

Q12. Implement Membership Operators with examples.

In [32]:
a=90
b=50
l=[10,20,30,40,50]
print(a in l) #IN
print(b in l)
print(a not in l) #NOT IN
print(b not in l)

False
True
True
False

Q13. Implement Identity Operators with examples.

In [33]:
a=80
b=20
print(a is b) #is
print(b is a)
print(a is not b) #is not
print(b is not a)

False
False
True
True

Q14. Demonstrate Negative indexing for list and apply slicing

In [55]:
l=[10,20,30,40,50,60]
print('\nOriginal List:\n',l)
print('\nNegative index:\n',l[::2])
print('\nSliced list:')
print(l[::-2])
print(l[::-4])
print(l[:1:-4])

Original List:
 [10, 20, 30, 40, 50, 60]

Negative index:
 [10, 30, 50]

Sliced list:
[60, 40, 20]
[60, 20]
[60]

Q15. Predict the output for the given code snippet and justify the result.

In [54]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("-----------")
print('Welcome to python training program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-----------
ot emoc

Q16. Write a python code to get desired output.

In [43]:
s="was it a car or a cat I saw"
s=s.upper()
s=s.replace(" "," ")
c=0
res=''
for i in range(0,len(s)):
  if(c%3==0 and c!=0):
    res=res+" "+s[i]+" "
    c=0
  else:
     res=res+s[i]
     c=c+1
print(res)

WAS   IT  A  CA R  OR   A C A T I   SAW

Q17. You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.The generated word similar to ZOO where Y= 2 * X.

In [63]:
x=int(input())
y=x*2

res='z'*x
y='o'*y
res=res+y
print(res)

2
zzoooo